<div class="container">
	<div class="row">
		<div class="hy-layout clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="index-swiper swiper-container hy-slide">
					<% if(typeof imgdata != 'undefined' && imgdata) { %>
					<%- include('../elements/banner-conveyor', {data: imgdata}); %>
					<% } %>
				</div>
			</div>
		</div>
		<% if(typeof top1 != 'undefined' && top1) { %>
		<%- include('../elements/list-body-list',{title: '大陸劇', url: '/vod-list-id-12.html', data: top1}); %>
		<% } %>
		<div class="ad momo-ad-row top-ad" data-momoad data-sizeall="970x250 728x90 300x250" data-containerstyle="text-align:center"></div>
		<% if(typeof top2 != 'undefined' && top2) { %>
		<%- include('../elements/list-body-list',{title: '韓劇', url: '/vod-list-id-17.html', data: top2}); %>
		<% } %>
		<div class="ad momo-ad-row top-ad" data-momoad data-sizeall="970x250 728x90 300x250" data-containerstyle="text-align:center"></div>
		<% if(typeof top3 != 'undefined' && top3) { %>
		<%- include('../elements/list-body-list',{title: '港劇', url: '/vod-list-id-13.html', data: top3}); %>
		<% } %>
		<div class="ad momo-ad-row top-ad" data-momoad data-sizeall="970x250 728x90 300x250" data-containerstyle="text-align:center"></div>
		<% if(typeof top4 != 'undefined' && top4) { %>
		<%- include('../elements/list-body-list',{title: '台劇', url: '/vod-list-id-16.html', data: top4}); %>
		<% } %>
		<% if(typeof top5 != 'undefined' && top5) { %>
		<%- include('../elements/list-body-list',{title: '日劇', url: '/vod-list-id-14.html', data: top5}); %>
		<% } %>
		<% if(typeof top6 != 'undefined' && top6) { %>
		<%- include('../elements/list-body-list',{title: '歐美劇', url: '/vod-list-id-15.html', data: top6}); %>
		<% } %>
		<% if(typeof top7 != 'undefined' && top7) { %>
		<%- include('../elements/list-body-list',{title: '動漫', url: '/vod-list-id-4.html', data: top7}); %>
		<% } %>
		<% if(typeof top8 != 'undefined' && top8) { %>
		<%- include('../elements/list-body-list',{title: '綜藝', url: '/vod-list-id-3.html', data: top8}); %>
		<% } %>
	</div>
</div>