<div class="container">
	<div class="row">
		<div class="hy-player clearfix">
			<div class="item">
				<div class="video-container-wrapper padding-0">
					<div class="main-container">
						<div class="info clearfix" id="player-container">
							<!--<script type="4b2895fe0a99620845a3e022-text/javascript">var mac_flag='play',mac_link='/vod-play-id-111528-src-{src}-num-{num}.html', mac_name='速度與激情：特別行動',mac_from='yjm3u8$$$135m3u8$$$ckm3u8$$$zuidam3u8$$$kakam3u8$$$kkm3u8$$$hkm3u8',mac_server='no$$$no$$$no$$$no$$$no$$$$$$',mac_note='$$$$$$$$$$$$$$$$$$',mac_url=unescape('HD%u97e9%u7248%u4e2d%u5b57%24https%3A%2F%2Fv3.yongjiujiexi.com%2F20190919%2FJWVVw4QN%2Findex.m3u8%23HD1080P%u4e2d%u5b57%24https%3A%2F%2Fdapian.video-yongjiu.com%2F20190920%2F13693_c2697dd3%2Findex.m3u8%23HD1080P%u7f8e%u7248%24https%3A%2F%2Fdapian.video-yongjiu.com%2F20190927%2F15679_4add7f87%2Findex.m3u8%24%24%24HD1080P%24https%3A%2F%2Fddppnew1.135-cdn.com%2F20190919%2FAjxwjeds%2Findex.m3u8%24%24%24HD%u4e2d%u5b57%24https%3A%2F%2Fbaidu.com-ok-baidu.com%2F20190927%2F15135_00d8f11d%2Findex.m3u8%24%24%24BD1280%u9ad8%u6e05%u4e2d%u82f1%u53cc%u5b57%u7248%24https%3A%2F%2Fbili.meijuzuida.com%2F20190929%2F21538_beabde01%2Findex.m3u8%24%24%24%u97e9%u7248%u4e2d%u5b57%24https%3A%2F%2Fyun.kubozy-youku-163.com%2F20190919%2F22558_b9087f3f%2Findex.m3u8%23%u7f8e%u7248%u4e2d%u5b57%24https%3A%2F%2Fzy.kubozy-sohu-360-sogou.com%2F20190929%2F10025_61e8a66f%2Findex.m3u8%24%24%24HD1080P%u97e9%u7248%24https%3A%2F%2Fjingcai.cdn-vipkkyun.com%2F20190919%2F4399_3d3923b2%2Findex.m3u8%23HD1080P%u7f8e%u7248%24https%3A%2F%2Fjingcai.cdn-vipkkyun.com%2F20190927%2F5176_4add7f87%2Findex.m3u8%24%24%24HD1080P%u4e2d%u82f1%u5b57%u5e55%24https%3A%2F%2Fcdn-7.haku88.com%2Fhls%2F2019%2F09%2F19%2FHdosMHGx%2Fplaylist.m3u8'); </script>-->
							<div id="momohd">Đang tải video, vui lòng chờ...</div>
							<script src="jwplayer/player8.js"></script>
							<script type="text/javascript">
								jwplayer("momohd").setup({
									sources: [{
										"label": "<%= vid.sources[0].label %>",
										"type": "<%= vid.sources[0].type %>",
										"file": "<%= vid.sources[0].file %>"
									}]
								});
							</script>
							<script src="/js/playerconfig.js?ver=20190913" type="4b2895fe0a99620845a3e022-text/javascript"></script><script src="/js/player.js?ver=20190913" type="4b2895fe0a99620845a3e022-text/javascript"></script>
						</div>
						<style> .MacPlayer #playtop { position: absolute; z-index: -1; } </style>
						<div class="footer clearfix play-control-container">
							<ul class="clearfix play-control">
								<li class="play-digg"><a target="_self" href="javascript:void(0)" class="iconfont icon-good digg_vodup"> 讚 <span class="digg-num">0</span> </a><a target="_self" href="javascript:void(0)" class="iconfont icon-bad digg_voddown"> 踩 <span class="digg-num">0</span> </a><a href="vod-report-id-111528.html" class="vod-report hide" rel="nofollow">報錯</a></li>
							</ul>
							<span class="hidden-xs text-muted">正在播放：</span><a class="" href="/vod-detail-id-111528.html" title="玩命關頭 / 速度與激情：特別行動">玩命關頭 / 速度與激情：特別行動</a><span class="">【HD1080P中英字幕】</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 video-menu padding-0">
					<div class="sidebar">
						<div class="ad momo-ad-row adxoo-momovod momoad-play-box" data-momoad data-adprovider="adxoo-momovod" data-showondevice="mobile" data-sizeall="300x250" data-containerstyle="text-align:center;margin-bottm:20px;"></div>
						<div class="ad momo-ad-row momoad-play-box" data-momoad data-sizeall="728x90 300x250" data-containerstyle="margin-bottom: 20px;" data-showondevice="desktop tablet"></div>
						<div class="hy-play-list play">
							<div class="item tyui" id="playlist">
								<div class="panel clearfix">
									<a id="playlistlink1" class="option" data-toggle="collapse" data-parent="#playlist" href="#playlist1">線上看1<span class="text-muted pull-right">HD1080P美版<i class="icon iconfont icon-right"></i></span></a>
									<div id="playlist1" class="playlist collapse in">
										<ul class="playlistlink-1 list-1 clearfix">
											<li><a title='HD1080P美版' href='/vod-play-id-111528-src-1-num-3.html' target="_self">HD1080P美版</a></li>
											<li><a title='HD1080P中字' href='/vod-play-id-111528-src-1-num-2.html' target="_self">HD1080P中字</a></li>
											<li><a title='HD韩版中字' href='/vod-play-id-111528-src-1-num-1.html' target="_self">HD韩版中字</a></li>
										</ul>
									</div>
								</div>
								<div class="panel clearfix">
									<a id="playlistlink2" class="option" data-toggle="collapse" data-parent="#playlist" href="#playlist2">線上看2<span class="text-muted pull-right">HD1080P<i class="icon iconfont icon-right"></i></span></a>
									<div id="playlist2" class="playlist collapse">
										<ul class="playlistlink-2 list-2 clearfix">
											<li><a title='HD1080P' href='/vod-play-id-111528-src-2-num-1.html' target="_self">HD1080P</a></li>
										</ul>
									</div>
								</div>
								<div class="panel clearfix">
									<a id="playlistlink3" class="option" data-toggle="collapse" data-parent="#playlist" href="#playlist3">線上看3<span class="text-muted pull-right">HD中字<i class="icon iconfont icon-right"></i></span></a>
									<div id="playlist3" class="playlist collapse">
										<ul class="playlistlink-3 list-3 clearfix">
											<li><a title='HD中字' href='/vod-play-id-111528-src-3-num-1.html' target="_self">HD中字</a></li>
										</ul>
									</div>
								</div>
								<div class="panel clearfix">
									<a id="playlistlink4" class="option" data-toggle="collapse" data-parent="#playlist" href="#playlist4">線上看4<span class="text-muted pull-right">BD1280高清中英双字版<i class="icon iconfont icon-right"></i></span></a>
									<div id="playlist4" class="playlist collapse">
										<ul class="playlistlink-4 list-4 clearfix">
											<li><a title='BD1280高清中英双字版' href='/vod-play-id-111528-src-4-num-1.html' target="_self">BD1280高清中英双字版</a></li>
										</ul>
									</div>
								</div>
								<div class="panel clearfix">
									<a id="playlistlink5" class="option" data-toggle="collapse" data-parent="#playlist" href="#playlist5">線上看5<span class="text-muted pull-right">美版中字<i class="icon iconfont icon-right"></i></span></a>
									<div id="playlist5" class="playlist collapse">
										<ul class="playlistlink-5 list-5 clearfix">
											<li><a title='美版中字' href='/vod-play-id-111528-src-5-num-2.html' target="_self">美版中字</a></li>
											<li><a title='韩版中字' href='/vod-play-id-111528-src-5-num-1.html' target="_self">韩版中字</a></li>
										</ul>
									</div>
								</div>
								<div class="panel clearfix">
									<a id="playlistlink6" class="option" data-toggle="collapse" data-parent="#playlist" href="#playlist6">線上看6<span class="text-muted pull-right">HD1080P美版<i class="icon iconfont icon-right"></i></span></a>
									<div id="playlist6" class="playlist collapse">
										<ul class="playlistlink-6 list-6 clearfix">
											<li><a title='HD1080P美版' href='/vod-play-id-111528-src-6-num-2.html' target="_self">HD1080P美版</a></li>
											<li><a title='HD1080P韩版' href='/vod-play-id-111528-src-6-num-1.html' target="_self">HD1080P韩版</a></li>
										</ul>
									</div>
								</div>
								<div class="panel clearfix">
									<a id="playlistlink7" class="option" data-toggle="collapse" data-parent="#playlist" href="#playlist7">線上看7<span class="text-muted pull-right">當前播放<i class="icon iconfont icon-right"></i></span></a>
									<div id="playlist7" class="playlist collapse">
										<ul class="playlistlink-7 list-7 clearfix">
											<li><a title='HD1080P中英字幕' href='/vod-play-id-111528-src-7-num-1.html' target="_self">HD1080P中英字幕</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="ad momo-ad-row" data-momoad data-sizeall="970x250 728x90 300x250"></div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="hy-main-content">
			<div class="main-content">
				<div class="hy-layout clearfix">
					<div class="hy-switch-tabs">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#list3" data-toggle="tab">劇情介紹</a>
								<div style="display:none">
									<em id="hits">加载中</em><script type="4b2895fe0a99620845a3e022-text/javascript">MAC.Hits("vod","111528")</script>
								</div>
							</li>
							<li><a href="#list1" data-toggle="tab" class="fb-comment-tab">影片討論</a><span class="fb-comment-count hide"></span></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="hy-play-list tab-pane fade in active" id="list3">
							<div class="item">
								<div class="plot">一個是美國外交安全局的忠誠特工、身材魁梧的執法者霍布斯（強森飾），一個是前英國軍事特工精英、無法無天的惡棍肖（斯坦森飾）。在2015年的《速度與激情7》中首次對峙之後，兩人不論言語還是肢體都衝突不斷，一直試圖打倒對方。 然而，通過高科技進行了基因增強的無政府主義者布里克斯頓（伊德瑞斯·艾爾巴飾）控制了一種可能永遠改變人類命運的不爲人知的生化武器，並且還打敗了一位大膽優秀又特立獨行的軍情六處特工（曾出演《王冠》的凡妮莎·科比飾）——她恰好是肖的妹妹，爲了扳倒這個世界上唯一可能比他們更厲害的敵人，這兩個不共戴天的宿敵不得不聯手。 《速度與激情：特別行動》一片在《速度與激情》系列的宇宙中推開了一扇全新的大門。從洛杉磯到倫敦，從切爾諾貝利的有毒廢墟到美麗的南太平洋島國薩摩亞，本次特別行動席捲全球。 該片由大衛·雷奇執導(《死侍2》導演)，由《速度與激情》系列故事的締造者克里斯·摩根編劇，摩根、強森、斯坦森和海拉姆·加西亞共同擔綱製片。丹尼·加西亞、凱利·麥考密克、 、史蒂文·查斯曼、伊森·史密斯和安斯利·戴維斯擔任監製。...</div>
							</div>
						</div>
						<div class="hy-play-list tab-pane fade in" id="list1">
							<div class="fb-comments" data-href="https://www.momovod.com/vod-detail-id-111528.html" data-numposts="10" data-width="100%" data-order-by="reverse_time"></div>
						</div>
					</div>
				</div>
				<div class="ad momo-ad-row" data-momoad data-sizeall="728x90 300x250"></div>
				<%- include('../elements/conveyor-group-02',{title: '猜你喜歡', data: ''}); %>
				<div class="ad momo-ad-row" data-momoad data-sizeall="728x90 300x250" data-containerstyle="padding: 0;text-align:center"></div>
				<%- include('../elements/conveyor-group-02',{title: '大家都在看', data: ''}); %>
				<div class="ad momo-ad-row" data-momoad data-sizeall="728x90 320x100" data-containerstyle="padding: 0;text-align:center"></div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 hy-main-side hidden-sm hidden-xs">
			<div class="ad momo-ad-row" data-momoad data-sizeall="300x250" data-containerstyle="margin-top:20px;"></div>
			<div class="hy-layout clearfix">
				<div class="hy-details-qrcode side clearfix hide">
					<div class="item">
						<h5 class="text-muted">扫一扫用手机观看</h5>
						<p></p>
						<p class="text-muted">分享到朋友圈</p>
					</div>
				</div>
				<div class="hy-video-ranking side clearfix">
					<div class="head">
						<h4><i class="icon iconfont icon-top text-color"></i>動作片排行榜</h4>
					</div>
					<div class="item">
						<ul class="clearfix">
							<li class="text-overflow"><span class="pull-right text-color hide">5.0</span><a href="/vod-detail-id-111528.html" title="玩命關頭 / 速度與激情：特別行動"><em class="number  active">1</em>玩命關頭 / 速度與激情：特別行動</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">9.0</span><a href="/vod-detail-id-113034.html" title="沉默的證人2019"><em class="number  active">2</em>沉默的證人2019</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">5.0</span><a href="/vod-detail-id-112365.html" title="使徒行者2：諜影行動"><em class="number  active">3</em>使徒行者2：諜影行動</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">3.0</span><a href="/vod-detail-id-119017.html" title="鍋蓋頭4：迴歸法制"><em class="number ">4</em>鍋蓋頭4：迴歸法制</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">3.0</span><a href="/vod-detail-id-115738.html" title="極限逃生"><em class="number ">5</em>極限逃生</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">7.0</span><a href="/vod-detail-id-116760.html" title="第一滴血5：最後的血"><em class="number ">6</em>第一滴血5：最後的血</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">5.0</span><a href="/vod-detail-id-108802.html" title="掃毒2：天地對決"><em class="number ">7</em>掃毒2：天地對決</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">2.0</span><a href="/vod-detail-id-103005.html" title="捍衛任務3：全面開戰 / 疾速追殺3/疾速備戰"><em class="number ">8</em>捍衛任務3：全面開戰 / 疾速追殺3/疾速備戰</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">6.0</span><a href="/vod-detail-id-118400.html" title="終極失憶"><em class="number ">9</em>終極失憶</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">1.0</span><a href="/vod-detail-id-115663.html" title="安娜2019"><em class="number ">10</em>安娜2019</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">1.0</span><a href="/vod-detail-id-106178.html" title="追龍Ⅱ/追龍2：賊王"><em class="number ">11</em>追龍Ⅱ/追龍2：賊王</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">1.0</span><a href="/vod-detail-id-51410.html" title="角頭2：王者再起"><em class="number ">12</em>角頭2：王者再起</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">5.0</span><a href="/vod-detail-id-105245.html" title="X戰警：黑鳳凰"><em class="number ">13</em>X戰警：黑鳳凰</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">5.0</span><a href="/vod-detail-id-115267.html" title="全面攻佔3：天使救援 / 天使陷落"><em class="number ">14</em>全面攻佔3：天使救援 / 天使陷落</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">5.0</span><a href="/vod-detail-id-109656.html" title="玩命憂步 / 優步危機"><em class="number ">15</em>玩命憂步 / 優步危機</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">7.0</span><a href="/vod-detail-id-71553.html" title="水行俠 / 海王"><em class="number ">16</em>水行俠 / 海王</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">4.0</span><a href="/vod-detail-id-119928.html" title="老千3：獨眼傑克"><em class="number ">17</em>老千3：獨眼傑克</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">7.0</span><a href="/vod-detail-id-96992.html" title="反貪風暴4"><em class="number ">18</em>反貪風暴4</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">0.0</span><a href="/vod-detail-id-51931.html" title="魔女首部曲：誕生 / 魔女"><em class="number ">19</em>魔女首部曲：誕生 / 魔女</a></li>
							<li class="text-overflow"><span class="pull-right text-color hide">1.0</span><a href="/vod-detail-id-85590.html" title="齊天大聖之大鬧龍宮"><em class="number ">20</em>齊天大聖之大鬧龍宮</a></li>
						</ul>
					</div>
				</div>
				<div class="hy-video-list side clearfix hide">
					<div class="head">
						<a class="pull-right text-muted" href="/vod-topicindex-pg-.html">更多<i class="icon iconfont icon-right"></i></a>
						<h4>推薦專題</h4>
					</div>
					<div class="item">
						<ul class="clearfix"></ul>
					</div>
				</div>
			</div>
			<div class="ad momo-ad-row" data-momoad data-sizeall="300x600"></div>
		</div>
	</div>
</div>