<!DOCTYPE html><html lang="zh-TW"><head><%- include('./elements/header'); %></head>
<body>
<%- (typeof addstyle != "undefined" ? include('./elements/addstyle') : "") %>
<%- include('./elements/navbar'); %>
<%- body %>
<div id="kakaad-container" class="row hide" style="margin: 0 auto;text-align: center">
<div id="kaka_970x250" class="kakaad"></div>
<div id="kaka_300x100" class="kakaad"></div>
</div>
<script type="text/javascript">
	var _kaka = _kaka || [];
	/* _kaka.push(['kaka_970x250', 'kaka_300x250', 'kaka_300x100']); */
	var kakaContainerWidth = document.getElementById('kakaad-container').clientWidth;
	var kakaADs = document.getElementById('kakaad-container').getElementsByClassName('kakaad');
	for (var i = 0; i < kakaADs.length; i++) {
		var adWidth = parseInt(kakaADs[i].getAttribute('id').split('_')[1].split('x')[0], 0);
		if (kakaContainerWidth > adWidth) {
			_kaka.push([kakaADs[i].getAttribute('id')]);
			break;
		}
	}
	// (function() {
	// 	var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.charset = "utf-8"; pa.async = true;
	// 	pa.src = 'http://adpr.gamme.com.tw/momovod.js';
	// 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
	// })();
</script>
<div class="hy-gototop hidden-sm hidden-xs hide">
<ul class="item clearfix">
<li><a href="?m=user-index.html" title="會員中心"><i class="icon iconfont icon-member1"></i></a></li>
<li>
<a href="javascript:();" title="觀看紀錄" id="history"><i class="icon iconfont icon-record1"></i></a>
</li>
<li><a href="javascript:scroll(0,0)" title="返回頂部"><i class="icon iconfont icon-uparrow"></i></a></li>
</ul>
</div>
<div class="tabbar visible-xs">
<a href="/" class="item"><i class="icon iconfont icon-home"></i><p class="text">首頁</p></a>
<a href="vod-type-id-2.html" class="item"><i class="icon iconfont icon-show"></i><p class="text">電視劇 </p></a>
<a href="vod-type-id-1.html" class="item"><i class="icon iconfont icon-film"></i><p class="text">電影 </p></a>
<a href="vod-type-id-4.html" class="item"><i class="icon iconfont icon-mallanimation"></i><p class="text">動漫 </p></a>
<a href="vod-type-id-3.html" class="item"><i class="icon iconfont icon-flag"></i><p class="text">綜藝 </p></a>
</div>
<div class="container"><div class="row"><%- include('./elements/footer'); %></div></div>
<script type="text/javascript">
			/*

				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open('GET', '//127.0.0.1:4000/code/?ver=' + Math.floor(Date.now() / 1000), true);
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState == 4) {
						if(xmlhttp.status == 200) {
							if (xmlhttp.responseText == 'DE' || xmlhttp.responseText == '' || xmlhttp.responseText == 'KR') {
								window.location = 'https://www.momovod.com/404';
							}
						}
					}
				};
				xmlhttp.send(null);
			});
			*/
		</script>
<script type="text/javascript">
	(function(){
		var maxTry = 300;
		var tryCount = 0;

		var adBlocker = '<div style="text-align:center;font-size:10px;cursor: pointer;z-index: 2;position: absolute;line-height:24px;width: 32px;height: 24px;right: 0px;top: 0px;background-color: #f2f2f2;">推薦</div>';


		function addADCover(element) {
			window.setTimeout(function() {
				if (element) {
					if (element.style.position == 'relative') return;
					element.style.position = 'relative';
					element.insertAdjacentHTML('beforeend', adBlocker);
				} else {
					if (tryCount < maxTry) {
						tryCount++;
						addADCover(element);
					}
				}
			},500);

		}


		window.setTimeout(function() {
			var ins, doms = document.getElementsByClassName('sitemaji_banner');
			if (doms.length > 0) {
				for (var i = 0; i < doms.length; i++) {
					ins = doms[i].getElementsByTagName('ins')[0];
					addADCover(ins);

					if (doms[i].getElementsByTagName('iframe')[0].name == '') {
						doms[i].style.position = "relative";
						if (doms[i].getAttribute('model')) {
							doms[i].style.width = doms[i].getAttribute('model').split('x')[0] + 'px';
							doms[i].style.margin = 'auto';

							if (doms[i].getAttribute('source') !== 'microad') {
								doms[i].insertAdjacentHTML('beforeend', adBlocker);
							}
						}
					}
				}


			}
		}, 2000);

	});
</script>
<script type="text/javascript">document.oncontextmenu=function(){return false;}</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="5c646632db7362350aec5f2d-|49" defer=""></script>
</body>
</html>